@font-face {
  font-family: odin-font;
  src: url(../fonts/Norse-Bold.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  font-family: sans-serif;
  color: black;

  --width-sidebar: 33%;
  --width-form: calc(100% - var(--width-sidebar));
  --font-size-base: 1.55rem;
}

* {
  /* Debug outline */
  /* outline: 2px red solid; */

  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

/* || Left side of page */

.sidebar-container {
  --color-sidebar-text: white;
  --font-size-banner: calc(var(--font-size-base) * 4);
  --spacing-small: calc(var(--font-size-banner) * 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: var(--width-sidebar);
  height: 100vh;

  background-image: url("../img/background-img.jpg");
  background-size: cover;
  background-position: center;
  /* center the image */
  background-repeat: no-repeat;
  /* prevent tiling */

  color: var(--color-sidebar-text);
}


.odin-banner {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-small);
  margin-top: 30%;

  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  font-family: "odin-font", sans-serif;
  font-size: var(--font-size-banner);
}

.odin-banner img {
  width: var(--font-size-banner);
}

.image-credit {
  margin-bottom: var(--spacing-small);
  font-size: calc(var(--font-size-base) * 0.6);
}

.image-credit a {
  color: var(--color-sidebar-text);
}


/* || Right side of page */

.right-container {
  --color-base-bg: #f9fafb;
  --color-form-bg: white;
  --color-input-bg: white;
  --color-signup-box-text: #1f2937;
  --color-btn-bg: #596D48;
  --color-btn-hover-bg: #6e835b;
  --shadow-signup-box: 0 2px 5px rgba(0, 0, 0, 0.25);
  --border-input: 2px solid #E5E7EB;
  --border-input-focus: 2px solid #1d4ed8;
  --shadow-input-focus: 0 2px 3px rgba(0, 0, 0, 0.25);
  --border-input-invalid: 2px solid #bd2a2a;
  --border-input-valid: 2px solid var(--color-btn-bg);
  --padding-left: 6%;

  --theme-name: "light";

  background-color: var(--color-base-bg);
}

.right-container {
  font-size: var(--font-size-base);
}

.right-container>p,
.signup-box,
.button-row,
.login-link {
  padding-left: var(--padding-left);
}

.right-container>p {
  padding-top: 10%;
  padding-right: 25%;
}

.signup-form {
  margin-top: 4%;
}

.signup-box>p {
  color: var(--color-signup-box-text);
}

.signup-box {
  background-color: var(--color-form-bg);
  box-shadow: var(--shadow-signup-box);
  padding-top: 1.5%;
  padding-bottom: 2%;
  padding-right: 20%
}

.input-container {
  margin-top: 2%;
  margin-bottom: 3%;
  margin-right: 5%;
  display: flex;
  flex-flow: row wrap;

  justify-content: flex-start;
  gap: 2rem 8rem;
}

.signup-form label {
  color: var(--color-signup-box-text);
  font-size: calc(0.6 * var(--font-size-base));
  letter-spacing: 1px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

input {
  border: var(--border-input);
  border-radius: 5px;
  outline: none;
  padding: 0 0.5rem;
  min-width: 120%;
  min-height: 80%;
  font-size: calc(var(--font-size-base) * 0.75);
}

input:focus {
  border: var(--border-input-focus);
  box-shadow: var(--shadow-input-focus);
}

input[type="password"]:invalid {
  border: var(--border-input-invalid);
}

input[type="password"]:valid {
  border: var(--border-input-valid);
}

.button-row {
  margin-top: 3%;
}

.submit-btn {
  border: none;
  padding: 1rem 4rem;
  color: white;
  font-weight: 600;

  background-color: var(--color-btn-bg);
  font-size: calc(0.75 * var(--font-size-base));

  box-shadow: var(--shadow-input-focus);
  border-radius: 10px;

}

.submit-btn:hover {
  cursor: pointer;
  background-color: var(--color-btn-hover-bg);
}


.login-link {
  margin-top: 2%;

  font-size: calc(0.7 * var(--font-size-base));
}

.login-link a {
  color: var(--color-btn-bg);
  text-decoration: none;
  font-weight: 600;
}

.login-link a:hover {
  text-decoration: underline;
}